{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login-register.css'%}">
</head>
<body>
    <aside class="imagen-login">
    </aside>
    <main>
        <div class="bienvenida">
            <p class="parte1">
                ¡Hola, de nuevo
            </p>
            <h1>
                Bienvenido!
            </h1>
        </div>
        <div class="card-body">
            {% block content %}
    
            {% endblock %}
        </div>
    </main>
</body>
</html>