:root{
    --color-principal: #7F67A9;
    --color-secundario: #EA9950;
    --color-tercero: #C62368;
    --color-letras: #222021;
    --color-fondo: white;
    --color-fondo-alt: #E4D2CC; 
}

#return{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    gap: 10px;
    text-decoration: none;
}
#return svg{
    width: 15px;
    height: 15px;;
}


.categoria{
    display: flex;
    flex-direction: column;
    margin: 30px;
    gap: 1.5rem;
}

.titulo{
    font-size: 1.8em;
    padding-bottom: 0.5em;
    border-bottom: 2px black solid;
}

.subtitulo{
    font-size: 1.3em;
}

.texto{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.codes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    gap: 10px;
}

.boton{
    background-color: var(--color-tercero);
    color: white;
    border-radius: 10px;
    width: fit-content;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
}

.boton:hover{
    background-color: #db4684;
}

.boton2{
    background-color: rgb(206, 206, 206);
    color: black;
    border-radius: 10px;
    width: fit-content;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
}