<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astrion</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    {% include "menu.html" %}
    <div class="contenido">
        {% if user.get_username != "" %}
            <center>
                {% for publicacion in publicaciones %}
                    <div class="post">
                        <p><strong>Usuario:</strong> {{ publicacion.id_user.username }}</p>
                        <p><strong>Contenido:</strong> {{ publicacion.contenido }}</p>
                        <p><strong>Fecha:</strong> {{ publicacion.fecha }}</p>
                        {% if publicacion.archivo %}
                            <p><strong>Archivo:</strong> <a href="{{ publicacion.archivo.url }}" target="_blank">Ver archivo</a></p>
                        {% endif %}
                        <hr>
                    </div>
                    {% empty %}
                    <p>No hay publicaciones todavía.</p>
                {% endfor %}
            </center>
        {% else %}
            <a href="{% url 'register'%}">Registrarme</a><br>
            <a href="{% url 'login'%}">iniciar sesion</a><br>
        {% endif %}
    </div>
</body>
</html>