{% load i18n %}
{% load two_factor_tags %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astrion - Ajustes</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/settings.css'%}">
</head>
<body>
    {% include "menu.html" %}
    <div class="contenido ajustes">
    <h1 class="ajustes-titulo">Ajustes de la cuenta</h1>

    <section class="categoria">
        <h2 class="subtitulo">Seguridad</h2>
        <p class="descripcion">
            Protege tu cuenta con autenticación de dos factores.
        </p>
        <a href="/2faapp/account/two_factor/" class="boton">
            Ir al panel de verificación en dos pasos
        </a>
    </section>

    <section class="categoria">
        <h2 class="subtitulo">Cuenta</h2>
        <div class="texto">
            <a href="/perfil/editar/" class="boton-secundario">Editar cuenta</a>
            <a href="/LogOut/" class="boton-danger">Cerrar sesión</a>
        </div>
    </section>
</div>

</body>
</html>