{% extends "two_factor/_base.html" %}

{% block content %}
<aside class="imagen-login">
    <div class="card">
        <div class="card-header">
            <h1>Activar Autenticación de Dos Factores</h1>
        </div>
        <div class="card-body">
            <p>Felicitaciones, ha habilitado con éxito la autenticación de dos factores.</p>
            <div class="opciones">
                <a href="/2faapp/account/two_factor/" class="btn btn-block btn-secondary">Volver a Seguridad de la Cuenta</a>
                <a href="{% url 'index' %}" class="btn btn-block btn-secondary">Volver al inicio</a>
            </div>
        </div>
    </div>
</aside>

{% endblock %}