{% extends "two_factor/_base.html" %}

{% block content %}
<aside class="imagen-login">
    <div class="card">

        {% if has_2fa %}
        <div class="card-header">
            <h1>Activación de Autenticación de Dos Factores</h1>
        </div>
        <div class="card-body">
            <p>¡Felicitaciones! Has habilitado con éxito la autenticación de dos factores.</p>
            <a href="/2faapp/account/two_factor/" class="btn btn-block btn-secondary">Volver a Seguridad de la Cuenta</a>
        </div>
        {% else %}
            <h1>Activar Autenticación de Dos Factores</h1>
            <p>Estás a punto de llevar la seguridad de tu cuenta al siguiente nivel. Sigue los pasos para habilitar la autenticación de dos factores.</p>

            <!-- Mostrar los pasos de configuración 2FA -->
            <form method="post">
                {% csrf_token %}
            
                {{ wizard.management_form }}  {# NECESARIO para el wizard funcione #}
            
                {{ wizard.form.non_field_errors }}
                {{ wizard.form.as_p }}
            
                <div class="opciones">
                    <button type="submit" class="btn btn-primary">Siguiente</button>
                </div>
            </form>
        {% endif %}

    </div>
</aside>
{% endblock %}
